@import "tailwindcss";
@plugin "daisyui";
@plugin "@tailwindcss/typography";

@plugin "daisyui/theme" {
  name: "retro";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(91.637% 0.034 90.515);
  --color-base-200: oklch(88.272% 0.049 91.774);
  --color-base-300: oklch(84.133% 0.065 90.856);
  --color-base-content: oklch(0.498 0.1851 13.73);
  --color-primary: oklch(0.498 0.1851 13.73);
  --color-primary-content: oklch(98% 0.003 247.858);
  --color-secondary: oklch(0.3169 0.0952 256.22);
  --color-secondary-content: oklch(100% 0 0);
  --color-accent: oklch(1 0 0);
  --color-accent-content: oklch(55% 0.046 257.417);
  --color-neutral: oklch(70% 0 0);
  --color-neutral-content: oklch(100% 0 0);
  --color-info: oklch(60% 0.126 221.723);
  --color-info-content: oklch(100% 0 0);
  --color-success: oklch(51% 0.096 186.391);
  --color-success-content: oklch(96% 0.059 95.617);
  --color-warning: oklch(70% 0.04 256.788);
  --color-warning-content: oklch(96% 0.059 95.617);
  --color-error: oklch(70% 0.191 22.216);
  --color-error-content: oklch(40% 0.123 38.172);
  --radius-selector: 0.5rem;
  --radius-field: 0.5rem;
  --radius-box: 1rem;
  --size-selector: 0.28125rem;
  --size-field: 0.28125rem;
  --border: 1px;
  --depth: 0;
  --noise: 0;
}


/* Optional: Reset body margin/padding and ensure full height */
body {
  margin: 0;
  min-height: 100vh;
}

